<div class="card border-0 pb-2 px-3">
    <div class="card-block p-0 m-0">
        <h6 class="card-title text-md-left">
            Connect with me
        </h6>
        <p class="pt-0">
            <a href="{{ social_page_link.twitter }}" target="_blank" class="small pr-1">
                <i class="fa fa-twitter-square fa-2x text-twitter"></i>
            </a>
            <a class="small pr-1" href="{{ social_page_link.facebook }}" target="_blank">
                <i class="fa fa-facebook-square fa-2x text-facebook"></i>
            </a>
            <a class="small" href="{{ social_page_link.google }}" target="_blank">
                <i class="fa fa-google-plus-square fa-2x text-google-plus"></i>
            </a>
        </p>
    </div>


</div>
